<h1>Update Course</h1>

<form action="/courses/<%= @course.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  
  <div>
    <label for="title_box">Title</label>
    <input type="text" id="title_box" name="query_title" value="<%= @course.title %>">
  </div>

  <div>
    <label for="term_offered_box">Term offered</label>
    <input type="text" id="term_offered_box" name="query_term_offered" value="<%= @course.term_offered %>">
  </div>

  <div>
    <label for="department_id_box">Department</label>
    <select id="department_id_box" name="query_department_id">
      <% Department.order({ :name => :asc }).each do |a_department| %>
        <option value="<%= a_department.id %>" <%= "selected" if a_department.id == @course.department_id %>>
          <%= a_department.name %>
        </option>
      <% end %>
    </select>
  </div>

  <button>Update Course</button>
</form>
